# Netbeans project files
nbproject/
catalog.xml

# Zend Framework
library/Zend

# Application's private data
application/configs/application.ini

# Application's data
data/cache/*
data/logs/*

# PHPUnit temporary data
tests/_files/emails/*
tests/log/*
