# Netbeans project files
nbproject/
catalog.xml

# Zend Studio project files
.settings/
.buildpath
.project

# Zend Framework
library/Zend

# Application's private data
application/configs/application.ini

# Application's data
data/cache/*
data/logs/*
data/twitter/access.token
public/cached/*
data/lucene/*

# Docs and QA reports
docs

# PHPUnit temporary data
tests/_files/emails/*
tests/log/*

# Mac OS .DS_Store files
.DS_Store