<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true"
         verbose="true"
         bootstrap="./bootstrap.php">
    <testsuites>
        <testsuite name="Maitre-corbeaux">
            <directory>./</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">../application/</directory>
            <directory suffix=".php">../library/</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="./log/coverage" charset="UTF-8" />
        <log type="testdox-html" target="./log/testdox.html" charset="UTF-8" />
    </logging>
</phpunit>
