body {
	font-family: "Times new roman", Garamond, Georgia, serif;
    font-size: 12pt;
}

h1 {
    font-size: 24pt;
}

h2 {
    font-size: 20pt;
}

h3 {
    font-size: 18pt;
}

a {
	color: black;
	text-decoration: none;
}

.navigation {
	display: none;
}

#content p {
	text-align: justify;
}

ul#infos-right {
	list-style-type: none;
	padding-left: 0;
}
