html {
    font-size: 100%;
}

body {
    background-color: #ffffff;
    color: #222222;
    font-family: "Courier New", Courier, monospace;
    font-size: 1em;
}

a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

a:hover {
    color: #ffffff;
    background-color: #000000;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
    margin: 0 0 0 20px;
}

h3 {
    font-size: 1.5em;
    margin: 0 0 15px 0;
}

h4 {
    font-size: 1.2em;
    margin: 0 0 10px 0;
}

#logo {
    float: left;
    margin: 5px 25px 5px 0;
    padding: 15px;
    border: 2px #000000 solid;
}

#header {
    width: 100%;
    float: left;
    margin: 5px 5px 5px 0; 
}

#header .subtitle {
    font-size: 1em;
    font-style: italic;
}

#header ul.navigation {
    margin: 10px 0 25px 0;
    list-style-type: none;
    border-bottom: 2px #000000 solid;
    float: right;
    width: 100%;
}

#header ul.navigation li {
    border: 2px #000000 solid;
    border-bottom: none;
    padding: 5px 5px 0 5px; 
    margin: 5px 5px 0 5px;
    float: right;
}

p.terminal:before {
    content: "guest@maitre-corbeaux.com:~$ ";
    color: #666666;
    font-size: 0.85em;
}

#content {
    width: 70%;
    clear: both;
    float: left;
    margin: 5px 25px 5px 5px;
}

#content p {
    width: 100%;
    text-align: justify;
    margin: 0 0 5px 0;
}

ul#infos-right {
    margin: 5px 10px 5px 5px;
    padding: 0;
    width: 25%;
    list-style-type: none;
    float: left;
    text-align: justify;
}

ul#infos-right li {
    margin-bottom: 4px;
}

hr.separator {
    visibility: hidden;
    height: 20px;
}
/* Activity */
h3.activity a {
    font-size: 0.5em;
    color: #333333;
    font-weight: normal;
}
h3.activity a:hover {
    color: #ffffff;
}
ul.activity {
    font-size: 0.9em;
    list-style-type: none;
    padding: 0 0 30px 0;
    margin: 0;
}
ul.activity li  {
    clear: both;
}
ul.activity .datetime {
    font-size: 0.7em;
    margin: 3px 10px 10px 3px;
    float: left;
}
ul.activity .content {
    float: left;
    width: 85%;
    margin-bottom: 10px;
}
/* Pagination control */
.pagination-control .header {
    font-size: 0.9em;
    margin-bottom: 10px;
}
.pagination-control {
    font-size: 0.8em;
    margin: 15px 0 15px 0;
    text-align: center;
}
/* Contact Form */
dl.zend_form {
    width: 850px;
    font-size: 0.8em;
}

dl.zend_form dt {
    float: left;
    width: 250px;
    clear: both;
    margin: 5px;
}

dl.zend_form dd {
    float: left;
    width: 550px;
    margin: 5px;
}

dl.zend_form dd input {
    width: 100%;
    height: 20px;
}

dl.zend_form dd textarea {
    width: 100%;
    height: 250px;
}

dl.zend_form dd#captcha-element {
    width: 350px;
}

dl.zend_form dd#send-element {
    width: 200px;
}

dl.zend_form input#send {
    float: right;
    width: 75px;
    height: 25px;
}

dl.zend_form input#copy {
    width: auto;
}

dl.zend_form dd#copy-element label {
    float: left;
    padding-top: 7px;
}

dl.zend_form dd#copy-element {
    width: 100%;
    padding-left: 255px;
}